<h1>Employees</h1>
<br>
<%= link_to 'New Employee', new_admin_employee_path, class: "btn btn-secondary" %>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th class="text-center">Edit/Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.role_name %></td>
        <td class="text-center">
          <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, admin_employee_path(employee), class: "btn btn-default" %>
          <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_admin_employee_path(employee), class: "btn btn-info" %>
          <% if employee.active? %>
            <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, admin_employee_path(employee.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to '<i class="fa-solid fa-check"></i>'.html_safe, activate_admin_employee_path(employee.id), class: "btn btn-success", method: :post, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
