<%= form_with(model: user, class: 'row g-3') do |f| %>
  <div class="col-md-4">
    <%= f.label :first_name, class: 'form-label' %>
    <%= f.text_field :first_name, class: "form-control", placeholder: 'Nome do funcionário' %>
  </div>
  <div class="col-md-4">
    <%= f.label :last_name, class: 'form-label' %>
    <%= f.text_field :last_name, class: "form-control", placeholder: 'Sobrenome do funcionário' %>
  </div>
  
  <div class="col-md-4">
    <%= f.label :role, class: 'form-label' %>
    <%= f.select :role, options_for_select(User.roles.map {|key, value| [key.titleize, User.roles.key(value)]}, @user.role), {} , class: "form-control" %>
  </div>

  <div class="col-md-12">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: 'Email do Funcionário'  %>
  </div>

  <div class="col-md-6">
    <%= f.label :password, class: 'form-label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimos)</em>
    <% end %><br />
    <%= f.password_field :password, {autocomplete: "password", class: "form-control", placeholder: 'Minimo 6 dígitos' }%>
  </div>

  <div class="col-md-6">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, { autocomplete: "password", class: "form-control" }%>
  </div>


  
  <div class="col-12">
    <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, users_path, class: "btn btn-secondary icons-margin" %>
    <%= f.submit "Registrar" , class: "btn btn-secondary" %>
  </div>

<% end %>
