<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :first_name_cont, label: controller_name.classify.constantize.human_attribute_name(:first_name) %>
    <%= f.search_field :first_name_cont %>
  </div>
  <div class="form-group">
    <%= f.label :last_name_cont, label: controller_name.classify.constantize.human_attribute_name(:last_name) %>
    <%= f.search_field :last_name_cont %>
  </div>
  <div class="form-group">
    <%= f.label :email_cont, label: controller_name.classify.constantize.human_attribute_name(:email) %>
    <%= f.search_field :email_cont %>
  </div>
  <div class="form-group">
    <%= f.label :role_eq, label: controller_name.classify.constantize.human_attribute_name(:role) %>
    <%= f.select :role_eq, options_for_select(User.roles.map {|key, value| [key.titleize, value]}, @search.role_eq), include_blank: true %>
  </div>
  <%= f.submit "Search", class: 'btn btn-light' %>
  <%= f.button 'Clear', type: :reset, class: 'btn btn-light' %>
<% end -%>
