<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :client_name %>
    <%= form.text_field :client_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :table %>
    <%= form.number_field :table, class: 'form-control' %>
  </div>

  <%= form.fields_for :order_products do |order_product|  %>
    <%= render 'order_product_fields', f: order_product %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'Add Item', form, :order_products %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
