<%= form_with(model: order) do |form| %>
  <div class="field form-group">
    <%= form.label :client_name %>
    <%= form.text_field :client_name, class: 'form-control' %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :table %>
    <%= form.number_field :table, class: 'form-control' %>
  </div>
  <br>
  <%= form.fields_for :order_products do |order_product|  %>
    <%= render 'order_product_fields', f: order_product %>
  <% end %>
  <br>
  <div class="links">
    <%= link_to_add_association 'Add Item', form, :order_products, class: "btn btn-info" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Cadastrar", class: "btn btn-secondary", data: { confirm: 'Tem certeza?' } %>
  </div>
<% end %>
