<div class="card bg-dark border-light">
  <div class="card-header">
    <p>
      <strong>Cliente:</strong>
      <%= @order.client_name %>
    </p>
    <p>
      <strong>Mesa:</strong>
      <%= @order.table %>
    </p>
    <p>
      <strong>Atendente:</strong>
      <%= @order.user.name %>
    </p>  
    
    <p>
      <strong>Status:</strong>
      <span class="badge <%= status_klass(@order.status) %>"><%= @order.status_name %></span>
    </p>
    <% if @order.ready? %>
      <%= link_to "MARCAR COMO ENTREGUE", report_status_order_path(@order.id, status: :finished), method: :post, class: 'btn btn-success' %>
    <% end %>
    
    
  </div>
  <div class="card-body">
    <h3>Itens</h3>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Observacion</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_products.each do |op| %>
          <tr>
            <td><%= op.product.name %></td>
            <td><%= op.quantity %></td>
            <td><%= op.observation %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  </div>
  <div class="card-footer">
    <%= link_to 'Edita', edit_order_path(@order), class: "btn btn-secondary" %>
    <%= link_to 'Voltar', orders_path, class: "btn btn-warning" %>
  </div>
</div>



