<p id="notice"><%= notice %></p>

<% if @order.ready? %>
  <%= link_to "MARCAR COMO ENTREGUE", report_status_order_path(@order.id, status: :finished), method: :post, class: 'btn btn-success' %>
<% end %>

<p>
  <strong>Client name:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Table:</strong>
  <%= @order.table %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<h3>Itens</h3>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Observation</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_products.each do |op| %>
      <tr>
        <td><%= op.product.name %></td>
        <td><%= op.quantity %></td>
        <td><%= op.observation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
