
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="shadow rounded card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="mb-2 text-uppercase text-lighter">PEDIDO<strong>RÁPIDO</strong></h2>
              <p class="text-white-50 mb-5">Insira seu email e senha registrados</p>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-outline form-white mb-4">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                    <label class="form-label" for="typeEmailX">Email</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control-lg form-control" %>
                    <label class="form-label" for="typePasswordX">Password</label>
                  </div>
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %><br/>
                  <%= f.submit "Entrar", class: "btn btn-outline-light btn-lg px-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



