<%= form_with(model: category) do |form| %>

  <div class="form-group">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: "form-control", placeholder: 'Ingrese o nome' %>
  </div>
  <br>
  <%= content_tag :div, class: 'form-group' do %>
    <%= check_box_tag :restore, class: "checkbox" %>
    Restaurar registro eliminado
  <% end if category.discarded? %>
  <br>
  <div class="form-group">
    <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, categories_path, class: "btn btn-secondary icons-margin" %>
    <%= form.submit "Registrar", class: "btn btn-secondary" %>
  </div>
<% end %>
