<%= form_with(model: category) do |form| %>

  <div class="form-group">
    <%= form.label :title, 'NOME' %>
    <%= form.text_field :title, class: "form-control", placeholder: 'Ingrese o nome' %>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit "Registrar", class: "btn btn-secondary" %>
    <%= link_to 'Voltar', categories_path, class: "btn btn-secondary" %>
  </div>
<% end %>
