<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :title_cont, label: controller_name.classify.constantize.human_attribute_name(:title) %>
    <%= f.search_field :title_cont %>
  </div>
  <%= f.submit "Search", class: 'btn btn-light' %>
  <%= f.button 'Clear', type: :reset, class: 'btn btn-light' %>
<% end -%>
