<div class="container py-5 h-100">
  <div class="card bg-dark shadow">
    <div class="card-header bg-dark m-3 p-3">
      
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3 class="d-inline-block">Listagem de Categorias</h3>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="d-flex justify-content-end">
            <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_category_path, class: "btn btn-secondary icons-margin" if can? :new, Category %>

            <%= search do %>
              <%= render 'search' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center"><%= Category.human_attribute_name(:title).upcase %></th>
              <th class="text-center">Quant. Produtos</th>
              <% if current_user.admin? %>
                <th class="text-center">REMOVIDO</th>
                <th class="text-center">OPÇÕES</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td class="text-center"><%= category.id %></td>
                <td class="text-center"><%= category.title %></td>
                <td class="text-center"><%= category.products.count %></td>
                <td class="text-center"><%= category.discarded? ? '<i class="fas fa-check-double"></i>'.html_safe : '' %></td>
                <td class="text-center">
                  <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_category_path(category), class: "btn btn-secondary icons-margin" if can? :edit, Category %> 
                  <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, category, class: "btn btn-danger icons-margin", method: :delete, data: { confirm: 'Tem certeza?' } if can? :destroy, Category %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        
    </div>
    
  </div>
</div>

