<h1>PRODUCTS</h1>
<br>
<%= link_to 'NOVO PRODUCTO', new_product_path, class: "btn btn-secondary" %>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOME</th>
      <th>DESCRIÇÃO</th>
      <th>CATEGORIA</th>
      <th class="text-center">EDITAR/DELETAR</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.description %></td>
        <td><%= product.category.title if product.category.present? %></td>
        <td class="text-center">
          <%= link_to '<i class="fa-solid fa-search"></i>'.html_safe, product, class: "btn btn-warning" %>
          <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_product_path(product), class: "btn btn-info" %>
          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, product, class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

