<div class="container py-5 h-100">
  <div class="card bg-dark shadow">
    <div class="card-header bg-dark m-3 p-3">
      
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3 class="d-inline-block">Produtos Cadastrados</h3>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="d-flex justify-content-end">
            <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_product_path, class: "btn btn-secondary icons-margin " %>
            <%= search do %>
              <%= render 'search' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-dark table-striped">
          <thead class="text-center align-middle">
            <tr>
              <th>ID</th>
              <th>NOME</th>
              <th>DESCRIÇÃO</th>
              <th>CATEGORIA</th>
            </tr>
          </thead>

          <tbody class="text-center align-middle">
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.name.truncate(25) %></td>
                <td><%= product.description.truncate(25) %></td>
                <td><%= product.category.title if product.category.present? %></td>
                <td class="d-flex justify-content-end text-center">
                    <%= link_to '<i class="fa-solid fa-eye"></i>'.html_safe, product, class: "btn btn-secondary icons-margin" %>
                    <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_product_path(product), class: "btn btn-secondary icons-margin" %>
                    <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, product, class: "btn btn-danger icons-margin", method: :delete, data: { confirm: 'Tem certeza?' } %>
                </td>
                <td class="text-center"><%= product.discarded? ? '<i class="fas fa-check-double"></i>'.html_safe : '' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
    </div>
    
  </div>
</div>
