<div class="card bg-dark border-light">
    <div class="card-header">
        <h2><strong>Nome do Produto:</strong> <%= @product.name %></h2>
    </div>
    <div class="card-body">
        <p>
          <strong>Descrição:</strong> <%= @product.description %>
        </p>
        <p>
          <strong>Preço:</strong> R$ <%= @product.price %> 
        </p>
        
    </div>
    <div class="card-footer">
        <%= link_to "Editar", edit_product_path(@product),class: "btn btn-secondary" %><%= link_to "Voltar", products_path, class: "btn btn-warning"  %>
    </div>
</div>