<li class="nav-item">
    <%= link_to '<i class="fa-solid fa-desktop"></i> Dashboard'.html_safe, dashboard_index_path, class: "nav-link #{active_link("dashboard")}" if current_user.admin? %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fa-solid fa-cart-shopping"></i> Produtos'.html_safe, products_path, class: "nav-link #{active_link("products")}" %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fa-solid fa-utensils"></i> Categorias'.html_safe, categories_path, class: "nav-link #{active_link("categories")}" %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fas fa-backspace"></i> Pedidos'.html_safe, orders_path, class: "nav-link #{active_link("orders")}" unless current_user.chef? %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fas fa-users"></i> Funcionarios'.html_safe, users_path, class: "nav-link #{active_link("users")}" if current_user.admin? %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fas fa-users"></i> Cozinha'.html_safe, kitchen_index_path, class: "nav-link #{active_link("kitchen")}" unless current_user.mesero? %>
</li>
