<li class="nav-item">
    <%= link_to '<i class="fa-solid fa-desktop"></i> Dashboard'.html_safe, "#", class: "nav-link" %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fa-solid fa-cart-shopping"></i> Produtos'.html_safe, products_path, class: "nav-link" %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fa-solid fa-utensils"></i> Categorias'.html_safe, categories_path, class: "nav-link" %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fas fa-backspace"></i> Ordenes'.html_safe, "", class: "nav-link" %>
</li>
<li class="nav-item">
    <%= link_to '<i class="fas fa-users"></i> Funcionarios'.html_safe, users_path, class: "nav-link" %>
</li>

